
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 350px;
}
@media (min-width:$max-screen-size-tablet) {
  footer {
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }
}

.text-footer {
  color: $secundary-color;
  padding: 2%;
}

.icon-social {
  padding-right: 5%;
  width: 50px;
}
