
a{
text-decoration: none;
border: none;
color: $secundary-color;
font-weight: bold;
font-size: 1.8em;
}

li{
list-style: none;

}

.under-const{
width: 200px;
margin-left: 480px;
margin-top: 30px;
}

.group-flex{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
background-color: white;
}

.group-img{
margin-bottom: 30px;
border-radius: 10px;
// margin-top: 30px;
}

.iframe-video{
margin-bottom: 50px;
}

.container{
width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
margin-bottom: 60px;
}

.back-home{
margin-left: 92%;
margin-top: 20px;
}
