
.btn-menu{
  border: none;
  background-color: transparent;
  padding: 8px;
  width: 80px;
  outline: none;
  cursor:pointer;
}
@media (min-width: $max-screen-size-tablet) {
  .btn-menu{
    display: none;
  }
}
