
h1{
color: $primary-color;
font-size: 3em;
text-shadow: 1px 1px 2px black, 0 0 25px $primary-color, 0 0 5px #2C835F;
text-transform: uppercase;
text-align: center;
}

.h1-construction{
color: $secundary-color;
font-size: 2em;
text-align: center;
text-transform: uppercase;
margin-top: 40px;
}

p{
color: $primary-color;
margin-left: 50px;
margin-right: 50px;
margin-bottom: 30px;
}
